<!DOCTYPE html>
<html>
  <head>
    <title>ReadbnbProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" if user_signed_in? %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
